/*****************************************
****************************************
**************  Mobil fisrt  ****************
********************************************
***********************************************/


/****************************************
****************  header   *****************/

header h1 {
  color: #2b4a5a;
}

header nav a {
  color: #4a7f9a;
  margin: 20px 3%;
}
 header {
  margin-bottom: 5%;
  text-align: center;
}

/****************************************
****************  header   **************/





/****************************************
****************  section   *****************/

.accordion-title {
  background-color: #8d8b3c;
  color: #51819a;
  font-weight: bold;
  font-size: 1.4em;

}

/****************************************
****************  section   *****************/



/****************************************
****************  footer   *****************/
footer h2{
  color: #2b4a5a;
}

footer p {
  color: #4a7f9a;
}

/****************************************
****************  footer   *****************/




/*****************************************
****************************************
**************  For text-align: left;****************
********************************************
**********************************************/




/****************************************
****************  header   *****************/


/****************************************
****************  header   *****************/





/****************************************
****************  section  *****************/


/****************************************
****************  section  *****************/




/****************************************
****************  footer  *****************/


/****************************************
****************  footer   *****************/







/*****************************************
****************************************
**************  For DESKTOP: ;****************
********************************************
**********************************************/




/****************************************
****************  header   *****************/


/****************************************
****************  header   *****************/




/****************************************
****************  section   *****************/


/****************************************
****************  section  *****************/




/****************************************
****************  footer  *****************/


/****************************************
****************  footer   *****************/
